  <footer id="footer">
    <nav>
      <ul>
        <li><span>Bloop</span></li>
        <li>
          <a href="/company/">Scala Center</a>
        </li>
<!--         <li>
          <a href="/blog/">Blog</a>
        </li> -->
          <li>
          <a href="/docs/">Docs</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Give us a shout-out on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence {{ .Site.Params.license }}.</p>
  </footer>